
<h3>ÜRÜN LİSTELEME:</h3>


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a href="https://localhost:5001/home/index"> Anasayfaya Git...</a>

<form asp-action="GetProduct" asp-controller="Product" method="get">
    <input type="text" name="ProductName" placeholder=" Product Name" />
    <br />
    <input type="Number" name="Quantity" placeholder="Quantity" />
    <br />
    <button>Ürün Getir</button>

</form>
